@import url('https://fonts.googleapis.com/css?family=Kosugi|Muli:500&display=swap');

$color-text: #fff;
$color-main: #0f4c81;
$color-red: #ff1348;

$font-family: 'Muli', 'Kosugi', -apple-system, BlinkMacSystemFont,
  'ヒラギノ角ゴ ProN W3', Meiryo, sans-serif;
$font-size: 14px;
